useDynLib(SpikeTrainPatternDetector, .registration=TRUE)
import(shiny)
import(plotly)
import(dplyr)
import(tidyr)
import(purrr)
importFrom(DT, DTOutput, datatable, renderDT)
importFrom(graphics, hist)
importFrom(stats, as.formula, ave, density, lm, median, predict, quantile, runif, sd, setNames, time)
importFrom(utils, capture.output, globalVariables, head, read.csv, str, tail, write.csv)
import(digest)
import(tibble)
export(launch_spike_detector)
export(stpd_architecture_notes)
export(stpd_parameter_schema)
export(default_params_sec)
export(build_trains_from_raw)
export(build_trains_from_annot)
export(run_detector_one_train)
export(default_params)
export(run_detector_dataset)
export(run_detector_train)
export(export_detection_results)
export(compute_isi_percentiles)
export(compute_local_median_cache)
export(scan_structure_candidates)
export(interval_best_overlap)
export(compute_candidate_feature_table)
export(final_classify_candidate)
export(final_classify_candidates)
export(build_candidate_ledger)
export(build_event_audit)
export(schema_ui_controls)
export(schema_params_from_input)
export(apply_schema_defaults)
export(stpd_golden_test_dataset)
export(stpd_key_parameter_schema)
export(stpd_parameter_contract)
export(stpd_parameter_schema_full)
export(stpd_schema_coverage_report)
export(run_detector)
export(export_results)
export(build_spike_dataset)
export(run_qc)
export(generate_candidates)
export(compute_candidate_features)
export(detect_burst_candidates)
export(detect_pause_candidates)
export(detect_tonic_candidates)

export(collapse_duplicate_timestamps_train)
export(collapse_duplicate_timestamps_trains)

export(stpd_parameter_registry)
export(stpd_validate_params)
export(stpd_write_params_yaml)
export(stpd_read_params_yaml)
export(stpd_parameter_yaml_bundle)
export(stpd_parameter_yaml_roundtrip_report)
export(stpd_parameter_validation_summary)
export(stpd_parameter_report)
export(stpd_params_hash)
export(stpd_detect)
export(stpd_generate_candidates)
export(stpd_compute_features)
export(stpd_export_results)
export(stpd_event_iou)
export(stpd_match_events)
export(stpd_event_level_metrics)
export(stpd_event_level_metrics_ci)
export(stpd_event_level_cluster_bootstrap)
export(stpd_boundary_tolerance_sensitivity)
export(stpd_inter_rater_reliability)
export(stpd_manual_label_uncertainty_report)
export(stpd_ambiguous_manual_labels)
export(stpd_holdout_split_by_train)
export(scan_short_isi_runs)


export(stpd_metric_mode_normalize)
export(stpd_events_apply_metric_mode)
export(stpd_extract_events_by_source)
export(stpd_split_trains_by_manual_events)
export(stpd_match_events_greedy)
export(stpd_threshold_patterns)
export(stpd_threshold_pattern_label)
export(stpd_threshold_pattern_color)
export(stpd_resolve_thresholds_for_dataset)
export(stpd_attach_thresholds_to_params)
export(stpd_event_grammar_params)
export(stpd_event_core_params)
export(stpd_detect_train_event_grammar)
export(stpd_detect_train_core)
export(stpd_detect_dataset_core)
export(stpd_train_pipeline_registry)
export(stpd_train_pipeline_default)
export(stpd_detect_train_dispatch)
export(stpd_empty_candidate_ledger)
export(stpd_empty_candidate_features)
export(stpd_empty_final_decisions)
export(stpd_review_reject_labels)
export(stpd_is_reject_like)
export(stpd_candidate_audit_to_ledger)
export(stpd_canonicalize_result_names)
export(stpd_public_params_only)
export(stpd_freeze_thresholds_for_trains)
export(stpd_score_calibration)
export(stpd_fit_score_calibrator)
export(stpd_predict_score_calibrator)
export(stpd_score_calibration_frozen)
export(stpd_detector_surrogate_false_alarm)
export(stpd_scientific_validation_report)
export(stpd_write_scientific_validation_exports)
export(stpd_result_consistency_check)
export(stpd_event_level_validation)
export(stpd_event_level_validation_report)
export(stpd_event_level_validation_export)
export(stpd_event_level_match_table)
export(stpd_manual_events)
export(stpd_predicted_events)
export(stpd_scientific_validation_summary)
export(stpd_enhance_candidate_features_eventness)
export(stpd_recommend_family_subtype)
export(stpd_basic_sensitivity_paths)
export(stpd_train_validation_strata)
export(stpd_stratified_train_splits)
export(stpd_repeated_train_holdout_validation)
export(stpd_nested_tune_params)
export(stpd_parameter_sensitivity_adjustment)
export(stpd_parameter_sensitivity_scan)
export(stpd_parameter_sensitivity_export)
export(stpd_possible_burst_promotion_preview)
export(stpd_promote_possible_burst)
export(stpd_revert_possible_burst_promotions)
export(stpd_apply_final_audit)
export(stpd_clear_final_audit)
export(stpd_audit_final_labels)
export(stpd_promote_possible_labels)
export(stpd_final_audit_summary)
export(stpd_final_audit_events)
export(stpd_final_audit_history)
export(stpd_final_audit_event_history)
export(stpd_extract_task_events_from_raw)
export(stpd_normalize_task_events)
export(stpd_logisi_moments)
export(stpd_spike_count_pmf)
export(stpd_train_distribution_features)
export(stpd_event_distribution_evidence)
export(stpd_add_distributional_results)
export(stpd_event_aligned_activity)
export(stpd_event_aligned_bin_table)
export(stpd_event_aligned_raster_plot)
export(stpd_event_aligned_psth_plot)
export(stpd_event_aligned_population_plot)
export(stpd_event_aligned_heatmap_plot)
export(stpd_event_aligned_correlation_plot)
export(stpd_event_aligned_correlogram_plot)

export(stpd_merge_isi_ranges)
export(stpd_estimate_misi_threshold)
export(stpd_detect_misi_bursts_article)
export(stpd_misi_support_dataset)
export(stpd_misi_support_export)
export(stpd_build_logisih_pasquale)
export(stpd_estimate_logisi_threshold_pasquale)
export(stpd_detect_logisi_newBD_pasquale)
export(stpd_logisi_support_dataset)
export(stpd_logisi_support_export)

export(stpd_csv_input_policy_notes)
export(stpd_product_schema_defaults)
export(stpd_productize_params)
export(stpd_public_parameter_table)
export(stpd_parameter_deprecation_notes)
export(stpd_run_detector)
export(stpd_detect_patterns)
export(stpd_generate_candidate_events)
export(stpd_compute_candidate_features)
export(stpd_method_readme)

export(stpd_state_space_pattern_labels)
export(stpd_make_isi_state_space_features)
export(stpd_run_isi_state_pca)
export(stpd_make_logisi_phase_portrait)
export(stpd_run_isi_state_isomap)
export(stpd_state_sequence)
export(stpd_state_transition_matrix)
export(stpd_state_transition_table)
export(stpd_state_dwell_times)
export(stpd_transition_entropy)
export(stpd_motif_frequency)
export(stpd_state_surrogate_controls)
export(stpd_run_isi_state_diffusion_map)
export(stpd_run_isi_state_phate)
export(stpd_run_isi_state_isomap_sweep)
export(stpd_make_recurrence_plot)
export(stpd_rqa_metrics)
export(stpd_run_isi_state_umap)
export(stpd_run_isi_state_tsne)
export(stpd_candidate_states_gmm)
export(stpd_candidate_states_rule_based)
export(stpd_decode_hsmm)
export(stpd_hsmm_heldout_likelihood)
export(stpd_label_agreement)
export(stpd_state_bootstrap_metrics)
export(stpd_build_transition_model_data)
export(stpd_fit_transition_statistical_model)
export(stpd_analyze_state_dynamics)

export(stpd_slicetca_backend_status)
export(stpd_install_slicetca_backend)
export(stpd_make_slicetca_trial_tensor)
export(stpd_run_slicetca_backend)
